h1{
    position: relative;
    left: 30px;
    top: 3px;
} 
body{
    background-color: #E6E6E6;
}
.sec1{
    background-color: rgb(149, 172, 218);
    position: relative;
    left:20px;
}
.sec{
    position: relative;
    top: 30px;
}
.imag{
    position: relative;
    left: 130px;
    top: 40px;
  
}
.head{
    background-color: white;
    /* height: 5%; */
    color:rgb(78, 119, 202) ;
}
h5{
    color: white;
}
.first{
    position: relative;
    top:100px ;
}
.sec2{
    position: relative;
    left:35px;
}
h4{
   color:rgb(78, 119, 202) ;
   position: relative;
   left: 30px;
}
.secnd{
    background-color: white;
}
